html {
  font-family: "Ubuntu Sans", system-ui, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
  transition: color 0.2s ease;
}

* {
  font-size: 16pt;
}

body {
  min-height: 100dvh;
  padding: 10px;
  background-color: var(--background);
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
